################################################################################
#
# NICAM-DC mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = #rlevel#,
    prc_num      = #nmpi#,
    output_fname = "#rl#-#prc#.info",
/

################################################################################
