################################################################################
#
# NICAM-DC mkrawgrid config
#
################################################################################

&ADMPARAM
    glevel      = 6,
    rlevel      = 0,
    vlayer      = 1,
    rgnmngfname = "rl00-prc01.info",
/

&PARAM_MKGRD
    MKGRD_DOSPRING     = .true.,
    MKGRD_OUT_BASENAME = "rawgrid_GL06RL00",
    MKGRD_spring_beta  = 1.15D0,
/

################################################################################
