################################################################################
#
# NICAM-DC mkmnginfo config
#
################################################################################

&mkmnginfo_cnf
    rlevel       = 1,
    prc_num      = 10,
    output_fname = "rl01-prc10.info",
/

################################################################################
