################################################################################
#
# NICAM-DC mkhgrid config
#
################################################################################

&ADMPARAM
    glevel      = #glevel#,
    rlevel      = #rlevel#,
    vlayer      = 1,
    rgnmngfname = "#rl#-#prc#.info",
/

&PARAM_MKGRD
    MKGRD_DOPREROTATE      = .false.,
    MKGRD_DOSTRETCH        = .false.,
    MKGRD_DOSHRINK         = .false.,
    MKGRD_DOROTATE         = .false.,
    MKGRD_IN_BASENAME      = "rawgrid_#GL##RL#",
    MKGRD_OUT_BASENAME     = "boundary_#GL##RL#",
/
#!    MKGRD_prerotation_tilt =  90.D0,
#!    MKGRD_stretch_alpha    =   4.D0,
#!    MKGRD_shrink_level     =      1,
#!    MKGRD_rotation_lon     = 140.D0,
#!    MKGRD_rotation_lat     =  40.D0,

################################################################################
